{% extends "main/layout.html" %}

{% block content %}
<div class="container mt-4" style="max-width: 500px;">
    <h2 class="mb-4">Вход</h2>

    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button class="btn btn-primary w-100">Войти</button>
    </form>

    <a href="/register/" class="btn btn-secondary w-100 mt-3">Регистрация</a>
</div>
{% endblock %}
